{{ ansible_managed | comment }}

*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

### INPUT

# Default
-A INPUT -p icmp -m comment --comment "Allow Ping" -j ACCEPT
-A INPUT -p tcp -m tcp --dport 22 -m comment --comment "Allow SSH" -j ACCEPT
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -m comment --comment "related and established connections" -j ACCEPT

{% if iptables_input is defined %}
# ACCEPT
{% for interfece in iptables_input recursive%}
{% for network in iptables_input[interfece].net recursive%}
-A INPUT -s {{ network }} -i {{ interfece }} -j ACCEPT
{% endfor %}{% endfor %}{% endif %}

# DROP
-A INPUT -m comment --comment "Drop all input" -j DROP
-A FORWARD -m comment --comment "Drop all forward" -j DROP
COMMIT

### NAT
*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

{% if iptables_nat is defined %}
# MASQUERADE
{% for interfece in iptables_nat recursive%}
{% for network in iptables_nat[interfece].net recursive%}
-A POSTROUTING -s {{ network }} -o {{ interfece }} -j MASQUERADE
{% endfor %}{% endfor %}{% endif %}
COMMIT
